head
  title Utilizando Template Engine PUG
body
  h1#id Este é um exemplo de como utilizar o PUG
  p.classe Exemplo de parágrafo com classe
  p(style={color: 'red'}) Exemplo de parágrafo com PUG e estilo inline

  form#form_upload(action="/upload" method="post" enctype="multipart/form-data")
    label(for="file") File
    input(id="file" name="file1" type="file")
    button Upload

  p
    img(src="/img/test.jpg" width="150" alt="Test Picture")

  button(onclick="fetch('/send');") Send

  script(src="/js/script.js")
